.graph {
  margin-top: 0.75rem;
}

.law-entries {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    color: white;
    margin-right: 1.25rem;
    padding-bottom: 0.5rem;
    position: relative;

    &:not(:last-child) time:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 25px;
      left: calc(50% - 1.5px);
      border-left: 3px dashed blue;
      height: calc(100% - 20px);
    }

    & > div {
      position: relative;

      &:first-child {
        margin-right: 1.25rem;
      }
    }

    time {
      padding: 0.25rem;
      border-radius: 4px;
      display: block;
      background-color: blue;
      font-weight: normal;
      color: white;
    }

    h5 {
      font-weight: bold;
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }

    p {
      color: grey;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}
