.dropdownArrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: grey;

  svg {
    height: 1rem;
    width: 1rem;
    fill: currentColor;
  }
}

.TraffickingStats {
  display: flex;
  margin: 0.25rem;
  padding: 0.25rem 0;
}

.TraffickingScore {
  margin: 0px;
  width: 10em;
  position: relative;
  flex: 1;
}

.score-doughnut {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.score {
  display: flex;
  width: 145px;
  margin: 1px -43px 0 -43px;
  justify-content: center;
  align-items: center;
}

.numericScore {
  position: absolute;
  color: white;
  font-size: 1.25em;
  display: inline-flex;
  align-self: center;
  justify-self: center;
  margin-top: 9px;
  font-weight: 500;
}

.overlay {
  z-index: 0;
}
.TraffickerArrests {
  white-space: nowrap;
  font-size: 0.9rem;
  color: grey;

  hr {
    border-color: grey;
  }
}

.VictimArrests {
  font-size: 0.9rem;
  color: grey;
}

.Separation {
  border-left: 2px solid #808080;
  height: 70px;
  display: flex;
  padding: 0 0.25rem;
  margin-top: 0.25rem;
  margin-left: 1em;
  margin-right: 0.5em;
  top: 0;
}

.ArrestTypes {
  padding-left: 1em;
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  margin-left: 1.25rem;

  hr {
    margin: 0.25rem 0;
  }
}

.TotalCases {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}

.totalCaseCount {
  color: white;
  padding: 0 1.25rem;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.totalCasesLabel {
  color: grey;
  font-size: 0.9rem;
  margin-top: -0.25rem;
}

.tab {
  margin-left: -1.5rem;
  width: calc(100% + 3rem);
  min-height: 3.5em;
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-top: 0.8rem;
  padding-bottom: 0;

  .tablinks {
    background: orange;
    text-align: center;
    color: white;
    font-family: "Lato", sans-serif;
    width: 25%;
    margin-bottom: -0.75rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    position: relative;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }
}

.tab::after {
  content: "";
  width: 100%;
  background-color: #f07533;
  height: 5px;
  color: #f07533;
  position: absolute;
  bottom: calc(-1.2em + 5px);
  left: 0;
  z-index: 0;
}

.tabcontent {
  margin-top: 14px;
  margin-left: -1.5rem;
  margin-bottom: -1.5rem;
  width: calc(100% + 3rem);
  padding: 0 1.5rem;
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  ul {
    padding-left: 1.25rem;
    list-style: disc;

    li {
      color: white;
      font-size: 0.9rem;
    }
  }

  & > p {
    color: white;
    font-size: 0.9rem;
  }
}

/* .tabcontent::-webkit-scrollbar {
  width: 8px;
}

.tabcontent::-webkit-scrollbar-track {
  background-color: #252727;
  border-radius: 2px;
  border-width: 2px;
}

.tabcontent::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 3px;
}

.tabcontent::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6
} */

.sidebar-container {
  display: flex;
  flex-direction: column;
  background: black;
  padding: 1.5rem;
  height: 100%;
  width: 100%;

  @media (min-width: 1024px) {
    width: 25% !important;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      display: inline-block;
      font-size: 2rem;
      font-weight: 700;
      color: white;
      margin-right: 0.5rem;
    }
  }

  .query {
    display: flex;
    flex-direction: row;
    color: grey;

    .select-wrapper {
      display: inline-block;
      position: relative;
    }

    .range-to {
      color: grey;
      font-size: 1.25rem;
      text-align: center;
      display: inline-block;
      padding: 0.25rem 0.25rem 0 0;
    }
  }
}

.law-ratings {
  margin-top: 0.75rem;

  table {
    width: 100%;
  }

  td {
    text-align: left;
    color: #c4c4c4;
    width: 50%;
    font-size: 0.9vw;
  }

  th {
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 0.9vw;
  }
}

.allAvailableData {
  text-align: center;
  font-size: 1.25rem;
  display: inline-block;
  padding: 0.25rem 0.25rem 0 0;
  color: grey;
  font-weight: 500;
}

button.close {
  color: white;
  font-size: 1.5em;
  display: inline-block;

  &:hover {
    color: white;
  }
}

@media (max-width: 1024px) {
  .law-ratings th,
  .law-ratings td {
    font-size: 1em;
  }
}

.mini-sidebar {
  position: absolute;
  bottom: 0;
  height: 12vh;
  margin: none;
}

.mini-sidebar-text {
  font-size: 6vw;
}

.collapse-btn {
  margin-right: 1.5em;
  height: 100%;
  color: white;
  font-size: 1.5em;
}

.sidebar-container {
  select {
    display: block;
    appearance: none;
    background: black;
    color: grey;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 0.25rem 1.75rem 0.25rem 0.25rem;
    border-radius: 4px;
    line-height: 1.25rem;

    &:focus {
      outline: none;
    }
  }
}
