.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 80px;
  z-index: 3;
}

.modal-content {
  background-color: white;
  width: 80%;
  max-width: 800px;
  height: 95%;
  max-height: 600px;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  overflow: auto;
  z-index: 3;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  margin-right: 0.5em;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.uploadContainer {
  height: 90%;
}

.fileUpload {
  height: 75%;
  background-color: #f4f4f4;
  margin: 1em;
  border: 3px solid #c4c4c4;
  border-radius: 3px;
  text-align: center;

  & ~ p {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }

  & > div {
    padding-top: 8rem;
  }

  p {
    font-size: 2rem;
    color: #cccccc;
  }
}

.cancel-button {
  border: 2px solid #f07533;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: 1em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #f07533;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2em;
  margin-bottom: 2em;
}

.next-button {
  background: #f07533;
  border: 2px solid #f07533;
  border-radius: 3px;
  margin-right: 1em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2em;
  margin-bottom: 2em;
}

.confirm-button {
  background: #f07533;
  border: 2px solid #f07533;
  border-radius: 3px;
  margin-right: 1em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2em;
  margin-bottom: 2em;
}

.previous-button,
.close-button {
  border: 2px solid #f07533;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 1em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #f07533;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 17em;
  margin-bottom: 2em;
}

.close-button {
  margin-right: 2em;
  margin-bottom: 2em;
}

table.upload-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.upload-table td,
.upload-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.square {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 1em;
}

.goodCategory {
  background-color: rgba(37, 127, 74, 1);
}

.fairCategory {
  background-color: rgba(111, 207, 151, 1);
}

.weakCategory {
  background-color: rgba(255, 203, 33, 1);
}

.badCategory {
  background-color: rgba(250, 145, 88, 1);
}

.veryBadCategory {
  background-color: rgba(235, 87, 87, 1);
}

.noneCategory {
  background-color: rgba(207, 42, 42, 1);
}

.kansasCategory {
  background-color: rgba(124, 35, 35, 1);
}

.upload-table tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.previewContainer {
  height: 70%;

  .filemame {
    display: inline;
    border-radius: 4px;
    border: 2px solid #cccccc;
    padding: 0 1rem;
  }

  .select-wrapper {
    float: right;

    select {
      border: 2px solid #252727;
      border-radius: 4px;
      background: white;
    }
  }
}

.table-wrapper {
  margin: 1rem 0;
  overflow: auto;
  height: 100%;
}

.csv-thead-row {
  background-color: white;
}

.csv-table-container {
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.csv-table-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.delete-button {
  display: inline-block;
  border: 2px solid #eb5757;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.5em 1.25em 0.5em 1.25em;
  color: #eb5757;
}

.csv-header-cell {
  border-bottom-width: 2px !important;
  border-bottom-color: #e2e8f0 !important;
  border-style: solid !important;
}

p.modalActive {
  padding: 1rem 0 0;
  font-size: 1.5rem;
  display: inline;
  font-weight: bold;
}

p.modalInactive {
  padding: 1rem 0.5rem 0;
  font-size: 2rem;
  display: inline;
  font-weight: bold;
  color: #cccccc;
}

.category {
  margin-top: 1rem;

  h3 {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
