details summary::-webkit-details-marker {
  display: none;
}

.learnMore {
  padding-left: 10px;
  padding-bottom: 8px;
  font-size: 80%;
  color: rgba(99, 177, 234, 1);
}

.learnMore:hover {
  cursor: pointer;
}
