.TraffickingScore {
  margin: 0px;
  width: 10em;
  position: relative;
}

.score-doughnut {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.score {
  width: 145px;
  margin: 1px -43px 0 -43px;
}

.overlay {
  z-index: 0;
}
.TraffickerArrests {
  white-space: nowrap;
}

.TraffickerArrests hr {
  border-color: grey;
}

.Separation {
  border-left: 2px solid #808080;
  height: 70px;

  /* left: 50%; */
  margin-left: 1em;
  margin-right: 0.5em;
  top: 0;
}

.ArrestTypes {
  padding-left: 1em;
}

.tab {
  margin-left: -1.5rem;
  width: calc(100% + 3rem);
  min-height: 3.5em;
  position: relative;
}

.tab::after {
  content: "";
  width: 100%;
  background-color: #f07533;
  height: 7px;
  color: #f07533;
  position: absolute;
  bottom: calc(-1.2em + 5px);
  left: 0;
  z-index: 234;
}

.tabcontent {
  margin-top: 14px;
  margin-left: -1.5rem;
  margin-bottom: -1.5rem;
  width: calc(100% + 3rem);
  padding: 0 1.5rem;
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.law-ratings table {
  width: 100%;
}

.law-ratings td {
  text-align: left;
  color: #c4c4c4;
  width: 50%;
  font-size: 0.9vw;
}

.law-ratings th {
  text-align: left;
  color: white;
  font-weight: 600;
  font-size: 0.9vw;
}
