.law-list {
    padding: 0;
    list-style: none;
}

.law-list .law-item div {
    position: relative;
    color: white;
  }
  
.law-list .law-item time {
    background-color: #0A95AB;
    font-weight: 500;
}

.law-list .law-item:not(:last-child) time::after {
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    border-left: 3px dashed #0A95AB;
    height: 100%;
}